.loader {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  box-sizing: border-box;
  border-width: 40px 60px 30px 60px;
  border-color: #3760C9 #96DDFC #96DDFC #36BBF7;
  animation: envFloating 1s ease-in infinite alternate;
  margin-left: auto;
    margin-right: auto;
  justify-content: center;
    display: block;
  width: 10px;
}
  
  .loader:after {
    content: "";
    position: absolute;
    right: 62px;
    top: -40px;
    height: 70px;
    width: 5px;
    background-image: linear-gradient(#fff 45px, transparent 0),
              linear-gradient(#fff 45px, transparent 0),
              linear-gradient(#fff 45px, transparent 0);
    background-repeat: no-repeat;
    background-size: 30px 4px;
    background-position: 0px 11px , 8px 35px, 0px 60px;
    animation: envDropping 0.75s linear infinite;
  }

  .loader::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    filter: blur(5px); 
    z-index: -1;
  }
  
